body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    background-color: #4CAF50;
    color: white;
    width: 200px;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}


.logo-icon {
    width: 50px;
    height: 50px;
    background-color: white;
    color: #4CAF50;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.logo-text {
    font-size: 36px; /* Tamaño inicial de la letra */
    transition: transform 0.5s, font-size 0.5s;
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #45a049;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

.button-group button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2196F3;
    color: white;
}

.content {
    margin-left: 200px;
    padding: 20px;
    width: calc(100% - 200px);
}

section {
    margin-bottom: 40px;
}

.custom-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #4CAF50, #8BC34A);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

.logo-ico {
    width: 60px;
    height: 60px;
    background-color: white;
    color: #4CAF50;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.logo-tex {
    font-size: 24px;
    font-weight: bold;
}

.centered-section {
    text-align: center;
}

.side-by-side-section {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.side-by-side-section .text-content {
    flex: 1;
    padding-right: 20px;
}

.side-by-side-section .image-placeholder {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border: 2px dashed #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.side-by-side-section .image-placeholder img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1px;
    margin-top: 20px;
    text-align: center;
}

.main-logo-icon {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 10px;
}

.slogan {
    font-size: 18px;
    color: #4CAF50;
    text-shadow:  #000;
    margin-bottom: 20px;
}

footer {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    color: white;
}
.redes-sociales {
    margin-bottom: 10px;
}
.redes-sociales h3 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
}
.redes-sociales ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.redes-sociales li {
    display: inline-block;
    margin-right: 10px;
}
.redes-sociales a {
    text-decoration: none;
    color: white;
}
.redes-sociales a:hover {
    color: white;
}
.contact-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.contact-info li {
    display: inline-block;
    margin-right: 10px;
}
.contact-info a {
    text-decoration: none;
    color: white;
}
.contact-info a:hover {
    color: #333;
}


